{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="container col-12  bg-white mt-5 mb-5">

    <div class="row">
        <div class="col-12 col-lg-6 col-xl-12 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
									<div class="card-actions float-right">
										<div class="dropdown show">
											<a href="#" data-toggle="dropdown" data-display="static">
              <i class="align-middle" data-feather="more-horizontal"></i>
            </a>

											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">Help Question</h5>
								</div>
								<table id="datatables-dashboard-projects" class="table table-striped my-0">
									<thead>
										<tr>

											<th class="d-none d-md-table-cell">Question</th>
											<th class="d-none d-md-table-cell">Delete</th>
											<th class="d-none d-md-table-cell">Update</th>
										</tr>
									</thead>
									<tbody>
									{%for i in question%}
										<tr>
											<td class="d-none d-md-table-cell">{{i.question}}</td>
											<td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#defaultModalDanger">
												Delete
											  </button>
																	  <div class="modal fade" id="defaultModalDanger" tabindex="-1" role="dialog" aria-hidden="true">
																		  <div class="modal-dialog" role="document">
																			  <div class="modal-content">
																				  <div class="modal-header">
																					  <h5 class="modal-title">Delete</h5>
																					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													  </button>
																				  </div>
																				  <div class="modal-body m-3">
																					  <p class="mb-0">do you want to delete?</p>
																				  </div>
																				  <div class="modal-footer">
																					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																					  <button type="submit" class="btn btn-danger"><a href="{% url 'delete_hq' i.id%}">Delete</a></button>
																				  </div>
																			  </div>
																		  </div>
																	  </div></td>
											<td class="d-none d-md-table-cell"><a href="{% url 'update_hq' i.id%}"><i class="feather-lg text-success" data-feather="edit-3"></i></a></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
        <form action="{%url 'helps_q'%}" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Question Create</h4>
                </div>
                <div class="row mt-4">
					<div class="col-md-6"><label class="labels">Question</label><input type="text" name="question" class="form-control" placeholder="Username" value=""></div>
                </div>

                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="sumbit">Save Profile</button></div>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock content %}
{% block script %}
{% endblock script %}