{% extends 'base.html' %}
{% block content %}
								<table id="datatables-dashboard-projects" class="table table-striped my-0">
									<thead>
										<tr>
											<th>Company name</th>
											<th>logo</th>
											<th>Description</th>
											<th>Google play</th>
											<th>App Story</th>
											<th>Delete</th>
										</tr>
									</thead>
									<tbody>
										{% for i in info %}
										<tr>
											<td class="d-none d-xl-table-cell">{{i.company_name}}</td>
											<td class="d-none d-md-table-cell"><img src="{{i.logo.url}}" style="border-radius:50%;" height="100px" width="100px" alt="ok" ></td>
											<td class="d-none d-md-table-cell">{{i.description}}</td>
											<td class="d-none d-md-table-cell">{{i.googleplay}}</td>
											<td class="d-none d-md-table-cell">{{i.appstore}}</td>
											<td class="d-none d-md-table-cell"><a href="{% url 'delete_info' i.id%}">Delete</a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
{% endblock content %}

{% block script %}
{% endblock script %}