{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Category</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><h1>Name: {{subcategory.name}}</h1></div>
                    <div class="col-md-12"><h1>Category: {{subcategory.category.name}}</h1></div>
                </div>

            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">SubCategory Update</h4>
                </div>
                <form action="{% url 'single_subcategory' subcategory.id %}" method="post"  enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input name="name" type="text" class="form-control" placeholder="first name" value=""></div>
                        <div class="col-md-6">
                            <label for="category">Choose a Category:</label>
                            <select class="form-control"  id="category" name="category" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option selected>Open this select Category</option>
                                {%for i in category%}
                                <option value="{{i.id}}">{{i.name}}</option>
                                {%endfor%}
                            </select>
					    </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary btn-lg profile-button" type="submit">Save Category</button></div>
                </form>
            </div>
        </div>

    </div>
</div>


{% endblock content %}
{% block script %}
{% endblock script %}