{% extends 'base.html' %}
{% block content %}

        <main class="content">
            <div class="container-fluid p-0">
                <form action="{% url 'update-category' category.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <input type="text" name="name" value="{{ category.name }}" placeholder="category_name" class="form-control">
                        </div>
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <input type="file" name="photo" class="form-control-file" value="{{ category.photo.url }}">
                        </div>
                        <div class="col-2 col-sm-6 col-xl mt-2 d-flex">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

{% endblock %}