{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            {%if user.image%}
            <div style="border-radius: 100%" class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-12" width="200px" height="200px" src="{{ user.image.url }}"><span class="font-weight-bold">{{user.username}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
            {%else%}
            <div style="border-radius: 100%" class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-12" width="200px"  height="200px"  src="{%static 'img\logo.png'%}"><span class="font-weight-bold">{{user.username}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
            {%endif%}
        </div>
        <form action="{%url 'reset_user'%}" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" name="username" class="form-control" placeholder="Username" value=""></div>
                        <div class="col-md-6"><label class="labels">Image</label><input type="file"  name="image" class="form-control" value="" placeholder="image"></div>
                    </div>
                    <div class="col-md-12"><label class="labels">Last password</label><input type="text" name="last_password" class="form-control" placeholder="Last name" value=""></div>
                    <div class="col-md-12"><label class="labels">New password</label><input type="text" name="new_password" class="form-control" placeholder="New name" value=""></div>
                    <div class="col-md-12"><label class="labels">Restart new password</label><input type="text" name="restartpassword" class="form-control" placeholder="Restart new password" value=""></div>

                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="sumbit">Save Profile</button></div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}