{% extends 'base.html' %}
{% block content %}
<div class="row">
{%for i in ads%}
<div class="col-12 col-lg-6 col-xl-6 d-flex">
	<div class="card flex-fill w-600">
		<div class="card-header">
			{%for x in i.photo.all %}
				<img width="200px" src="{{x.photo.url}}" alt="saashdvjs">
			{%endfor%}
		</div>

		<div class="card-body">
			<ul class="timeline ">

				<li class="timeline-item">
					<p>Region: {{i.region.name}}</p>
				</li>
				<li class="timeline-item">
					<p>Category: {{i.category.name}}</p>
				</li>
				<li class="timeline-item">
					<p>Name: {{i.name}}</p>
				</li>
				<li class="timeline-item">
					<p>Date: {{i.date}}</p>
				</li>
				<li class="timeline-item">
					<p>Description: {{i.description}}</p>
				</li>
				<li class="timeline-item">
					<p>Is Top: {{i.is_top}}</p>
				</li>
				<li class="timeline-item">
					<p>Is Recommended: {{i.is_recommended}}</p>
				</li>

			</ul>
		</div>
	</div>
</div>
{%endfor%}
</div>
{% endblock content %}

{% block script %}
{% endblock script %}